.vs/
*/Configs/*/*
*/extensions/*/*.cpp
*/extensions/*/*.dll
*/extensions/*/*.dylib

*/Debug/
Debug/
*/Release/
Release/
export/*.gmez
export/*.png
export/*.gmz
*.sdf

/GOG.gml/GOG.gml.APS
/GOG.gml.VC.db

# GOG SDK:
/GOG/*
!/GOG/Documentation.html should be next to this file!

/GOG.gml.VC.VC.opendb
/GOG.gml/GOG.gml.o

/GOG.gml.gmx/extensions/GOG.gml/GOG.gml.gml
/GOG.gml.gmx/datafiles/GOG.gml.html
/GOG_yy/datafiles/GOG.gml.html